---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Insights from '../components/Insights.astro';
import ClientTrust from '../components/ClientTrust.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Exceedant - Business Consulting & Investment Investigation">
  <main>
    <Hero />
    <Services />
    <Insights />
    <ClientTrust />
    <CTA />
    <Footer />
  </main>
  
  <script src="../scripts/animations.ts"></script>
</Layout>